<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" type="text/css" href="../styles/calendar.css">
    </head>
<body>
    <div class="headbord">
        <div class="headbar"></div>
        <div class="my-princess-diary">My Princess Diary</div>
        <div class="nav-bar"></div>
        </div>
    </div>
    <div class="week-board">
        <div class="content">
        </div>
        <div class="event-window">
            Add New Event:
            <input id="date" class="js-input date-input" type="date" >
            start time
            <input id="hourStart" class="js-input start-time-input" type="text" placeholder="00:00">
            <input id="howLongminutes" class="js-input minutes-input" type="number" placeholder="minutes long">
            <textarea id="name" class="js-input name-input" id="myTextArea" rows="1" cols="1" placeholder="the name of event"></textarea>
            <textarea id="withWhom" class="js-input with-input" id="myTextArea" rows="1" cols="1" placeholder="with Whom"></textarea>
            remind days before:
            <input id="reminddaybefore" class="js-input days-input" type="number" placeholder="number">
            repeat in
            <textarea id="repeatList" class="js-input days-input" id="myTextArea" rows="1" cols="1" placeholder="0, day"></textarea>
            <button class="update-event-button">Submit</button>
            <div class="if-missing"></div>
        </div>
    </div>
    
    
    
    
    <script type="module" src="../scripts/calendar.js"></script>
</body>

</html>
