<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" type="text/css" href="../styles/regester.css">
    </head>
<body>
    <div class="headbord">
        <div class="my-princess-diary">My Princess Diary</div>
        <div class="head">Log In</div>
        <div class="mainbox">
            
            <div class="loginbox">
                <p>username/email:</p>
                <input id="username" class="js-input usernameinput" type="text">
                <p>password:</p>
                <input id="password" class="js-input passwordinput" type="password">
                <div class="forgotpassword">forgot password?</div>
                <button class="login">Log In</button>
                <div class="signup">or sign up</div>
                <div class="messege"></div>
            </div>
            
        </div>
    </div>
    
    <div class="monthly">
    </div>
    
    <script type="module" src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script type="module" src="../scripts/regester.js"></script>
</body>

</html>
