<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" type="text/css" href="../styles/signup.css">
    </head>
<body>
    <div class="headbord">
        <div class="my-princess-diary">My Princess Diary</div>
        <div class="head">Sign Up</div>
        <div class="mainbox">
            
            <div class="loginbox">
                <p>username:</p>
                <input id="username" class="js-input usernameinput" type="text">
                <p>email:</p>
                <input id="email" class="js-input emailinput" type="text">
                <div class="haveaccout">have an account?</div>
                <button class="signup">Sign Up</button>
                <div class="messege"></div>
            </div>
            
        </div>
    </div>
    
    <div class="monthly">
    </div>
    
    <script type="module" src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script type="module" src="../scripts/signup.js"></script>
</body>

</html>
